:root {
    --main-color: #29a5da;
    --n0-color: #000;
    --n3-color: #333;
    --n6-color: #666;
    --n7-color: #777;
    --n5-color: #555;
    --dark-main-color: #004072;
    --aqua-color: #eef8ff;
}
