@import "./styles/variables";
@import "./styles/fonts.scss";
@import "./styles/common.scss";
@import "./styles/classes.scss";


#root {
    max-width: 100vw;
    >* {
        max-width: 100vw;
        overflow: hidden;
    }
}